<div>
  <button><a routerLink="/create">Add book</a></button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Author</th>
      <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Author</th>
      <th>Description</th>
      <th>Description</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let book of books; index as i">
      <td>
        {{book.id}}
      </td>
      <td>
        {{book.title}}
      </td>
      <td>
        {{book.author}}
      </td>
      <td>
        {{book.description}}
      </td>
      <td><a routerLink="/edit/{{book.id}}">Edit</a></td>
      <td><a routerLink="/detail/{{book.id}}">View</a></td>
      <td><button (click)="deleteById(book.id, i)" style="background-color: red; color: white">Delete</button></td>

    </tr>
    </tbody>
  </table>

</div>
