<div class="form-create">
  <h1>Form Create</h1>

  <form #formCreate="ngForm" (ngSubmit)="createBook()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" name="title" id="exampleInputEmail1" [(ngModel)]="book.title">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Author</label>
      <input type="text" class="form-control" name="author" id="exampleInputPassword1" [(ngModel)]="book.author">
    </div>
    <div class="mb-3">
      <label for="exampleCheck1.1" class="form-label">Description</label>
      <input type="text" class="form-control" name="description" id="exampleCheck1.1" [(ngModel)]="book.description">
    </div>

    <div style="display: flex; justify-content: space-between">
      <button type="submit" class="btn btn-primary">Submit</button>
      <button id="back" class="btn btn-primary" type="submit"><a style="text-decoration: none; color: white" routerLink="/list">Back</a></button>
    </div>
  </form>
</div>
